
/* shared style */
   body{ 
    font-family: 'Open Sans', sans-serif;
   }
/*nav related css */
  
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav_title{
font-size: 45px;
color:#181818;
font-weight: 800;
}
.text_primary{
    color: #FD6E0A;
    
}
 .btn_primary{
    background-color:#FD6E0A; 
    border-radius: 5px;
    border: 0px;
    font-family: Open Sans;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   color:#FFF;
   padding: 15px 35px;
 }   

nav>ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
    
/*header related style*/

.header{
    background-color:#FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: cover;
    
}

.banner{
    padding: 30px 30px  150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.banner_greetings{
    font-size: 45px;
    color: #474747;
    margin: 0;
    
}
.banner_tittle{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}
.banner_content{
    max-width: 500px;
}
.banner profile_picture{
    width: 500px;
}



.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3; 
    margin: 130px 0px;
}
.about h3{
    text-align: center;
    
}